.nav-bar-container {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  padding: 16px 8px;
}
.top-action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bottom-action-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
